{% extends "base.html" %}
{% block meta_title %}{{ post.title }} - {{ super() }} {% endblock %}

{% block content %}
  <h1 class="post-title">{{ post.title }}</h1>
  <p class="meta">
    Created at: {{ post.created_date.strftime('%Y-%m-%d %H:%M') }}

    {% if post.tags %}
      - Tagged on: 
      {% for tag in post.tags %}
        <a href="{{ url_for('posts.tag', slug=tag.slug) }}">{{ tag.title }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    {% endif %}
  </p>

  {% if post.body %}
    <p>{{ post.body|safe }}</p>
  {% endif %}
  
  <div class="strike-line">
    <span><small>SHARE THIS POST</small></span>
  </div>
  <div class="post-share">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <a target="_blank" href='https://www.facebook.com/sharer/sharer.php?u={{ request.url }}&title={{ post.title }}' class="btn btn-primary">Facebook</a>
      </div>
      <div class="btn-group" role="group">
        <a target="_blank" href='https://twitter.com/share' class="btn btn-info">Twitter</a>
      </div>
      <div class="btn-group" role="group">
        <a target="_blank" href='https://plus.google.com/share?url={{ request.url }}' class="btn btn-danger">Google+</a>
      </div>
    </div>
  </div>
  <hr />

  <div class="panel panel-default related cst__radius">
    <div class="panel-heading">
      <h3 class="panel-title">Related Posts</h3>
    </div>
    <ul class="list-group">
      {% if related_posts|length > 1 %} {# handling for empty objects, such as django that only use {% empty %} #}
        {% for rpost in related_posts %}
          {% if not rpost == post %}
            <li class="list-group-item">
              <a href="{{ url_for('posts.detail', slug=rpost.slug) }}">{{ rpost.title }}</a> - <i>{{ rpost.created_date.strftime('%Y-%m-%d %H:%M') }}</i>
            </li>
          {% endif %}
        {% endfor %}
      {% else %}
        <p class="panel-body">No related posts yet!</p>
      {% endif %}
    </ul>
  </div><!-- end /.related -->

  <div class="disqus-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* <![CDATA[ */
        var disqus_shortname = "{{ disqus_shortname }}";
        var disqus_identifier = "{{ request.url }}";
        var disqus_title = "{{ post.title }}";
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    /* ]]> */
    </script>
  </div><!-- end /.disqus-comments -->
{% endblock %}


{% block sidebar %}
  <div class="sidebar-module-inset">
    <h4>Recent Comments</h4>
    <div id="dsq-recent-comments" class="dsq-widget"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ disqus_shortname }}';
    </script>
    <script src='//{{ disqus_shortname }}.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=24&excerpt_length=50'></script>
  </div><!-- end /.sidebar-module-inset --> 
{% endblock %}